<!DOCTYPE html>
<html lang="en">
 <%- include('includes/head') %>
<body>
    <%- include('includes/header') %>  
    <main>
        <% if (errors && errors.length) { %>
  <ul>
    <% errors.forEach(function(error) { %>
      <li style="color:red;"><%= error %></li>
    <% }); %>
  </ul>
<% } %>

        <form action="/create-post" method="POST">
        <fieldset>
            <legend>
                Create a New post
            </legend>
            <label for="title"><small>Title</small></label>
            <input type="text" id="title" name="title" autocomplete="off">
            <label for="body"><small>content</small></label>
            <textarea name="body" id="body"></textarea>

            <br />
            <button type="submit">Svae New Post</button>
        </fieldset> 
        </form>   
    </main>
    <%- include('includes/footer') %>
</body>
</html>