<!DOCTYPE html>
 <%- include('includes/head') %>
<body>
   <%- include('includes/header') %>    
    <main>
        <form action="/register" method="POST">
           <% if (errors.length > 0) { %>
    <ul style="color: red;">
      <% errors.forEach(error => { %>
        <li><%= error %></li>
      <% }) %>
    </ul>
  <% } %>
        <fieldset>
            <legend>
                Create an account
            </legend>
            <label for="username"><small>Username</small></label>
            <input type="text" id="username" name="username" autocomplete="off">
            <label for="password"><small>Password</small></label>
            <input type="password" id="password" name="password" autocomplete="off">
            <br />
            <button type="submit">signup</button>
        </fieldset> 
        </form>    </main>
   <%- include('includes/footer') %>
</body>
</html>